:root {
  /* Fonts */
  --primary-font: "Poppins", sans-serif;
  /* Text color */
  --primary-text-color: #292d32;
  --accent-text-color: #16c098;
  --secondary-text-color: #9197b3;
  --title-table-color: #b5b7c0;
  --lite-grey-text: #757575;
  --text-title-color: #000000;
  --wite-text-color: #ffffff;
  --btn-success-color: #008767;
  --btn-failure-color: #df0404;
  --gray-txt-color: #838383;
  --active-link-color: #5932ea;
  --success-border-color: #00b087;
  --pagination-txt-color: #404b52;
  --pagination-txt-active-color: #f5f5f5;
  --table-primary-color: #dddddd;
  /* Background-color */
  --wite-background-color: #ffffff;
  --accent-color: #fafbff;
  --success-background-color: rgba(22, 192, 152, 0.38);
  --failure-background-color: #ffc5c5;
  --pagination-background-color: #f5f5f5;
  /* Line color */
  --pagination-border-color: #eeeeee;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.fade-in {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: opacity 0.6s ease-out, -webkit-transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, -webkit-transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

body,
html {
  height: 100%;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  text-decoration-line: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Base styles */
body {
  background-color: var(--wite-background-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.main__section {
  padding-top: 0;
  padding-bottom: 0;
}
@media screen and (min-width: 1440px) {
  .main__section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* Contemner settings */
.main__container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 375px) {
  .main__container {
    width: 375px;
  }
}
@media screen and (min-width: 1440px) {
  .main__container {
    width: 1440px;
  }
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar__wrapper {
  display: none;
}
@media screen and (min-width: 1440px) {
  .sidebar__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 306px;
    height: 1198px;
    padding: 36px 28px 76px 28px;
  }
}

.sidebar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 64px;
}

.sidebar__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.sidebar__logo--icon {
  margin-right: 8px;
}

.sidebar__title {
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.01em;
  color: var(--text-title-color);
  margin-right: 8px;
}

.sidebar__txt {
  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.01em;
  color: var(--gray-txt-color);
  text-align: start;
}

.sidebar__box {
  padding-left: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  margin-bottom: 40px;
}

.sidebar__title--menu {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: var(--secondary-text-color);
}

.burger-menu__wrapper {
  display: block;
}
@media screen and (min-width: 1440px) {
  .burger-menu__wrapper {
    display: none;
  }
}

.burger-menu {
  position: relative;
  z-index: 1000;
  width: 24px;
  height: 16px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger-menu::before, .burger-menu::after, .burger-menu span {
  content: "";
  background-color: var(--primary-text-color);
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.burger-menu::before {
  top: 0;
}
.burger-menu::after {
  bottom: 0;
}
.burger-menu span {
  top: 7px;
}
.burger-menu.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.burger-menu.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 6.5px;
}
.burger-menu.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 6.5px;
}
@media screen and (min-width: 1440px) {
  .burger-menu {
    display: none;
  }
}

.mobile-menu {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  pointer-events: none;
  z-index: 500;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--wite-background-color);
  padding: 48px 40px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.mobile-menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  pointer-events: auto;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: var(--accent-color);
  padding: 40px 5px 30px 5px;
}
@media screen and (min-width: 1440px) {
  .content {
    padding: 41px 95px 258px 71px;
  }
}

.content__title {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-title-color);
}
@media screen and (min-width: 1440px) {
  .content__title {
    font-size: 24px;
    margin-left: 0;
  }
}

.content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (min-width: 1440px) {
  .content__wrapper {
    margin-bottom: 51px;
    margin-left: 0;
    margin-right: 0;
  }
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-top: 50px;
}
@media screen and (min-width: 1440px) {
  .user {
    margin-top: auto;
  }
}

.user_name {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: var(--text-title-color);
}

.user__title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--lite-grey-text);
}

.nav {
  margin-top: 30px;
}
@media screen and (min-width: 1440px) {
  .nav {
    margin-top: 0;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: var(--secondary-text-color);
}

li.nav__item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: var(--secondary-text-color);
  width: 100%;
  height: 100%;
  padding: 11px 8px 11px 11px;
}
li.nav__item > a.active {
  padding: 11px 8px 11px 11px;
  background-color: var(--active-link-color);
  border-radius: 8px;
  color: var(--wite-text-color);
}

.nav__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}

.nav__symbol {
  margin-left: auto;
}

.blog {
  background-color: var(--wite-background-color);
  border-radius: 30px;
  -webkit-box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
          box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
  padding: 25px 10px 46px 10px;
}
@media screen and (min-width: 1440px) {
  .blog {
    padding: 25px 44px 46px 38px;
  }
}

.blog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.blog__title {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: var(--text-title-color);
  margin-bottom: 7px;
}
@media screen and (min-width: 1440px) {
  .blog__title {
    font-size: 22px;
  }
}

.blog__title--status {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.01em;
  color: var(--accent-text-color);
}
@media screen and (min-width: 1440px) {
  .blog__title--status {
    font-size: 14px;
  }
}

.blog__input--wrapper {
  position: relative;
  width: 216px;
  height: 38px;
}

.blog__img {
  position: absolute;
  top: 50%;
  left: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.blog__input {
  width: 100%;
  height: 100%;
  padding-left: 40px;
  border-radius: 10px;
  border: none;
  background-color: var(--accent-color);
}

.blog__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 1440px) {
  .blog__footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
  }
}

.blog__txt {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.01em;
  color: #b5b7c0;
}
@media screen and (min-width: 1440px) {
  .blog__txt {
    font-size: 14px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

table th {
  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.01em;
  color: var(--title-table-color);
}
@media screen and (min-width: 1440px) {
  table th {
    font-size: 14px;
  }
}

@media screen and (min-width: 1440px) {
  thead {
    position: relative;
  }
  thead::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -38px;
    width: 968px;
    height: 1px;
    background-color: var(--table-primary-color);
  }
}

table th {
  padding-bottom: 14px;
  border-bottom: 1px solid var(--table-primary-color);
}
@media screen and (min-width: 1440px) {
  table th {
    border-bottom: none;
  }
}

table td {
  font-size: 10px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--table-primary-color);
}
@media screen and (min-width: 1440px) {
  table td {
    font-size: 14px;
  }
}

@media screen and (min-width: 1440px) {
  td div {
    border-radius: 4px;
    margin: 0 auto;
    padding: 4px 12px;
    width: 80px;
    height: 29px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;
    text-transform: capitalize;
  }
}

td div.active {
  color: var(--btn-success-color);
}
@media screen and (min-width: 1440px) {
  td div.active {
    border: 1px solid var(--success-border-color);
    background-color: var(--success-background-color);
  }
}

td div.inactive {
  color: var(--btn-failure-color);
}
@media screen and (min-width: 1440px) {
  td div.inactive {
    border: 1px solid var(--btn-failure-color);
    background-color: var(--failure-background-color);
  }
}

th:nth-child(4),
td:nth-child(4) {
  width: 55px;
  word-break: break-word;
}
@media screen and (min-width: 1440px) {
  th:nth-child(4),
  td:nth-child(4) {
    word-break: normal;
  }
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.pagination__item {
  border: 1px solid var(--pagination-border-color);
  border-radius: 4px;
  background-color: var(--pagination-background-color);
}

.pagination__item.active {
  background-color: var(--active-link-color);
  border: 1px solid var(--active-link-color);
}
.pagination__item.active .pagination__link {
  color: var(--pagination-txt-active-color);
}

.pagination__link {
  width: 26px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  color: var(--pagination-txt-color);
}

.pagination__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}/*# sourceMappingURL=main.css.map */