.burger-menu__wrapper {
  display: block;
  @include mq(mob) {
    display: none;
  }
}

.burger-menu {
  position: relative;
  z-index: 1000;
  width: 24px;
  height: 16px;
  transition: all 0.3s ease 0s;

  &::before,
  &::after,
  & span {
    content: '';
    background-color: var(--primary-text-color);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  & span {
    top: 7px;
  }

  &.active span {
    transform: scale(0);
  }

  &.active::before {
    transform: rotate(45deg);
    top: 6.5px;
  }
  &.active::after {
    transform: rotate(-45deg);
    bottom: 6.5px;
  }

  @include mq(mob) {
    display: none;
  }
}
