.content {
  flex: 1;
  background-color: var(--accent-color);
  padding: 40px 5px 30px 5px;
  @include mq(desk) {
    padding: 41px 95px 258px 71px;
  }
}

.content__title {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-title-color);
  @include mq(desk) {
    font-size: 24px;
    margin-left: 0;
  }
}

.content__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  @include mq(desk) {
    margin-bottom: 51px;
  }
}
