.content {
  flex: 1;
  background-color: var(--accent-color);
  padding: 40px 10px 30px 10px;
  @include mq(desk) {
    padding: 41px 95px 258px 71px;
  }
}

.content__title {
  font-weight: 500;
  font-size: 24px;
  color: var(--text-title-color);
  margin-bottom: 51px;
}
