.nav__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: var(--secondary-text-color);
}

li > a {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: var(--secondary-text-color);
  width: 100%;
  height: 100%;
  padding: 11px 8px 11px 11px;

  &.active {
    padding: 11px 8px 11px 11px;
    background-color: var(--active-link-color);
    border-radius: 8px;
    color: var(--wite-text-color);
  }
}

.nav__box {
  display: flex;
  align-items: center;
  gap: 14px;
}

.nav__symbol {
  margin-left: auto;
}
