table {
  width: 375px;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

table th {
  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.01em;
  color: var(--title-table-color);
  @include mq(desk) {
    font-size: 14px;
  }
}

thead {
  @include mq(desk) {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: -38px;
      width: 968px;
      height: 1px;
      background-color: #ddd;
    }
  }
}

table th {
  padding-bottom: 14px;
  border-bottom: 1px solid #ddd;
  @include mq(desk) {
    border-bottom: none;
  }
}

table td {
  font-size: 10px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  @include mq(desk) {
    font-size: 14px;
  }
}

td div {
  @include mq(desk) {
    border-radius: 4px;
    margin: 0 auto;
    padding: 4px 12px;
    width: 80px;
    height: 29px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;
    text-transform: capitalize;
  }
}

td div.active {
  color: var(--btn-success-color);
  @include mq(desk) {
    border: 1px solid #00b087;
    background-color: var(--success-background-color);
  }
}

td div.inactive {
  color: #df0404;
  @include mq(desk) {
    border: 1px solid #df0404;
    background-color: #ffc5c5;
  }
}

th,
td {
  @include mq(desk) {
    &:nth-child(1) {
      width: 35px;
    } /* Customer Name */
    &:nth-child(2) {
      width: 35px;
    } /* Company */
    &:nth-child(3) {
      width: 35px;
    } /* Phone Number */
    &:nth-child(4) {
      width: 55px;
      word-break: break-word;
    } /* Email */
    &:nth-child(5) {
      width: 35px;
    } /* Country */
    &:nth-child(6) {
      width: 35px;
    } /* Status */
  }
}
