table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

table th {
  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.01em;
  color: var(--title-table-color);
  @include mq(desk) {
    font-size: 14px;
  }
}

thead {
  @include mq(desk) {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: -38px;
      width: 968px;
      height: 1px;
      background-color: var(--table-primary-color);
    }
  }
}

table th {
  padding-bottom: 14px;
  border-bottom: 1px solid var(--table-primary-color);
  @include mq(desk) {
    border-bottom: none;
  }
}

table td {
  font-size: 10px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--table-primary-color);
  @include mq(desk) {
    font-size: 14px;
  }
}

td div {
  @include mq(desk) {
    border-radius: 4px;
    margin: 0 auto;
    padding: 4px 12px;
    width: 80px;
    height: 29px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;
    text-transform: capitalize;
  }
}

td div.active {
  color: var(--btn-success-color);
  @include mq(desk) {
    border: 1px solid var(--success-border-color);
    background-color: var(--success-background-color);
  }
}

td div.inactive {
  color: var(--btn-failure-color);
  @include mq(desk) {
    border: 1px solid var(--btn-failure-color);
    background-color: var(--failure-background-color);
  }
}

th,
td {
  &:nth-child(4) {
    width: 55px;
    word-break: break-word;
  }
  @include mq(desk) {
    &:nth-child(4) {
      word-break: normal;
    }
  }
}
