doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="./images/favicon.png" type="image/png")
    // Fonts
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    )
    // Custom styles
    link(rel="stylesheet" href="./css/main.min.css")
    // Title
    title #{pageTitle}
    script(type="module" src="./index.js")
  body
    main.main
      section.main__section
        .main__container
          .main_wrapper

include ./views/partials/side-bar.pug

  .content
    h2.content__title Hello #{userName} 👋🏼,
    .blog
      .blog__header
        .blog__wrapper
          h3.blog__title All Customers
          p.blog__title--status Active Members
        .blog__input--wrapper
          svg.blog__img(width="24" height="24")
            use(href="./images/sprite.svg#icon-search")
          input.blog__input(type="text" placeholder="Search")

        include ./views/partials/table.pug

      .blog__footer
        p.blog__txt Showing data 1 to 8 of 256K entries
        .pagination
          ul.pagination__list
            li.pagination__item
              a.pagination__link(href="") 1
