.scroll-to-top-btn {
  opacity: 0;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: var(--accent-text-color);
  color: var(--wite-text-color);
  font-size: 16px;
  text-align: center;
  pointer-events: none;
  cursor: pointer;

  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  @include mq(tab) {
    right: 50px;
    bottom: 50px;
  }
}

.scroll-to-top-btn.show {
  opacity: 1;
  pointer-events: auto;
}
