/* Logo */
.site-logo {
  display: block;
  color: var(--accent-text-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: calc(31 / 26);
  text-decoration: none;

  @include mq(desk) {
    font-size: 26px;
  }
}

.site-logo--header {
  color: var(--text-logo-color);
}

.site-logo--footer {
  color: var(--wite-text-color);
}
