:root {
  /* Fonts */
  --primary-font: 'Poppins', sans-serif;

  /* Text color */
  --primary-text-color: #292d32;
  --accent-text-color: #16c098;
  --secondary-text-color: #9197b3;
  --title-table-color: #b5b7c0;
  --lite-grey-text: #757575;
  --text-title-color: #000000;
  --wite-text-color: #ffffff;
  --btn-success-color: #008767;
  --btn-failure-color: #df0404;
  --gray-txt-color: #838383;
  --active-link-color: #5932ea;

  /* Background-color */
  --wite-background-color: #ffffff;
  --accent-color: #fafbff;

  /* Line color */
  --header-line-color: #ececec;

  /* Icon color*/
  --primary-icon-color: #afb1b8;
  --second-icon-color: #ffffff;
}
